{% block cms_element_blog_module_preview %}
    <div class="cms-el-preview-blog-module">
        <h2>Blog module</h2>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
            </p>
    </div>

{% endblock %}

