{% block sw_cms_block_ak_blog_preview %}
<div class="sw-cms-preview-ak_blog">
    <div class="left">
        <h2>Blog </h2>
        <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
        </p>
    </div>

    <div class="right">
        <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
    </div>
</div>
{% endblock %}

